# fly.toml app configuration file generated for bot-quote-discord-gfly on 2025-12-13T18:50:55+04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bot-quote-discord-gfly'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  strategy = 'immediate'
  max_unavailable = 1.0

[env]
  BANLU_CHANNEL_ID = '${BANLU_CHANNEL_ID}'
  DISCORD_BOT_TOKEN = '${DISCORD_BOT_TOKEN}'
  HOLIDAYS_CHANNEL_IDS = '${HOLIDAYS_CHANNEL_IDS}'
  PYTHONUNBUFFERED = '1'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
