# fly.toml app configuration file generated for bot-quote-discord-gfly on 2025-12-06T17:44:49+04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bot-quote-discord-gfly'
primary_region = 'ams'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  strategy = 'rolling'

[env]
  PYTHONUNBUFFERED = '1'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
